{% load widget_tweaks %}
{% load static %}
<div class="my-3"></div>

<div id="form-content">
    <div class="shadow p-3 mb-3 bg-body rounded">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Фамилия</label><br>
                    {% render_field applicant_form.last_name class+="form-control" %}
                    <div class="invalid-feedback">
                        Поле, обязательно для заполнения!
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    <label class="form-label">Имя</label><br>
                    {% render_field applicant_form.first_name class+="form-control" %}
                    <div class="invalid-feedback">
                        Поле, обязательно для заполнения!
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="mb-3">
                    <label class="form-label">Отчество</label><br>
                    {% render_field applicant_form.patronymic class+="form-control" %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Дата рождения</label><br>
                    {% render_field applicant_form.date_of_birth class+="form-control" %}
                    <div class="invalid-feedback">
                        Поле, обязательно для заполнения!
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Комплектующий орган</label><br>
                    {% render_field applicant_form.complete_from class+="form-control" %}
                    <div class="invalid-feedback">
                        Поле, обязательно для заполнения!
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label">Контактные данные законных представителей</label><br>
                    {% render_field applicant_form.contact_number class+="form-control" rows=1 %}
                    <div class="invalid-feedback">
                        Поле, обязательно для заполнения!
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label">Адрес (город)</label><br>
                    {% render_field applicant_form.address_city class+="form-select" %}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="mb-3">
                    <label class="form-label">Адрес (улица, дом, квартира)</label><br>
                    {% render_field applicant_form.address class+="form-control" rows=1 %}
                </div>
            </div>
        </div>

    </div>
    <div class="shadow p-3 mb-3 bg-body rounded">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Средний балл свидетельства об общем базовом
                        образовании</label><br>
                    {% render_field applicant_form.average_mark class+="form-control" min=0 max=10 %}
                    <div class="invalid-feedback">
                        Поле, обязательно для заполнения!
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">В какой класс поступает</label><br>
                    {% render_field applicant_form.class_he_goes_to class+="form-control" min=1 max=12 %}
                    <div class="invalid-feedback">
                        Поле, обязательно для заполнения!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow p-3 mb-3 bg-body rounded">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_application class+="form-check-input" %}
                    <label class="form-check-label">
                        Заявление (да/нет)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_birth_certificate class+="form-check-input" %}
                    <label class="form-check-label">
                        Свидетельство о рождении или документ удостоверяющий личность (да/нет)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_mark_sheet class+="form-check-input" %}
                    <label class="form-check-label">
                        Ведомость годовых отметок (да/нет)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_characteristic class+="form-check-input" %}
                    <label class="form-check-label">
                        Характеристика
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_certificate_of_education class+="form-check-input" %}
                    <label class="form-check-label">
                        Свидетельство об образовании
                        (да/нет)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_conclusion class+="form-check-input" %}
                    <label class="form-check-label">
                        Заключение об изучении кандидата (да/нет)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_medical_certificate class+="form-check-input" %}
                    <label class="form-check-label">
                        Медицинская справка (да/нет)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_card_extract class+="form-check-input" %}
                    <label class="form-check-label">
                        Выписка из медицинской карты за последние 5 лет (да/нет)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="form-check">
                    {% render_field applicant_form.there_is_psychological_information class+="form-check-input" %}
                    <label class="form-check-label">
                        Медицинская справка о состоянии здоровья, подтверждающая отсутствие
                        психиатрического и наркологического учета (да/нет)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow p-3 mb-3 bg-body rounded">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label">Язык задания по предмету "Математика"</label><br>
                    {% render_field applicant_form.language_math class+="form-select" %}
                </div>
            </div>

            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label">Выбор учебного предмета для написания
                        диктанта</label><br>
                    {% render_field applicant_form.language_for_dictation class+="form-select" %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label">Иностранный язык в случае поступления</label><br>
                    {% render_field applicant_form.language_for_study class+="form-select" %}
                </div>
            </div>
        </div>
    </div>
    <div class="shadow p-3 mb-3 bg-body rounded">
        <div class="row">
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">
                        Прохождение ВВК
                    </label>
                    {% render_field applicant_form.fit class+="form-select" %}

                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label class="form-label">Документы, подтверждающие право на
                        льготу</label><br>
                    {% render_field applicant_form.privilege class+="form-control" %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label">
                        Диагноз по ВВК (если не годен)
                    </label>
                    {% render_field applicant_form.fit_diagnosis class+="form-control" rows=2 %}

                </div>
            </div>
        </div>

    </div>
    <div class="shadow p-3 mb-3 bg-body rounded">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label">
                        Русский язык - отметка
                    </label>
                    {% render_field applicant_form.rus_mark class+="form-control" min=0 max=10 %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label">
                        Белорусский язык - отметка
                    </label>
                    {% render_field applicant_form.bel_mark class+="form-control" min=0 max=10 %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3">
                    <label class="form-label">
                        Математика - отметка
                    </label>
                    {% render_field applicant_form.math_mark class+="form-control" min=0 max=10 %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <label class="form-label">Сумма баллов</label>
                {% render_field applicant_form.sum_mark class+="form-control" min=0 %}
            </div>
        </div>
    </div>
    <div class="shadow p-3 mb-3 bg-body rounded">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-3">
                    <label class="form-label">
                        Примечание
                    </label>
                    {% render_field applicant_form.extra_data class+="form-control" rows=2 %}
                </div>
            </div>
        </div>
    </div>
</div>

